[Unit]
Description=Linux Xen tool for drite nuxt js website
After=networking.service
[Service]
User=root
ExecStart=/bin/bash /etc/drite.sh

[Install]
WantedBy=multi-user.target